In [1]:
import pandas as pd

citi8 = pd.read_csv('/Users/mina/Dropbox/2019Spring/Transportation_Behavioral_Informatics/TBI_project/Data/citibike/201808-citibike-tripdata.csv')
citi9 = pd.read_csv('/Users/mina/Dropbox/2019Spring/Transportation_Behavioral_Informatics/TBI_project/Data/citibike/201809-citibike-tripdata.csv')
citi10 = pd.read_csv('/Users/mina/Dropbox/2019Spring/Transportation_Behavioral_Informatics/TBI_project/Data/citibike/201810-citibike-tripdata.csv')
citi11 = pd.read_csv('/Users/mina/Dropbox/2019Spring/Transportation_Behavioral_Informatics/TBI_project/Data/citibike/201811-citibike-tripdata.csv')
#citi8.head()

In [2]:
citi_total=pd.concat([ citi8,citi9, citi10, citi11])
citi_total.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,681,2018-08-01 00:00:07.3210,2018-08-01 00:11:28.9920,3162.0,W 78 St & Broadway,40.783400,-73.980931,3383.0,Cathedral Pkwy & Broadway,40.804213,-73.966991,27770,Subscriber,1986,1
1,625,2018-08-01 00:00:19.7480,2018-08-01 00:10:45.0290,3260.0,Mercer St & Bleecker St,40.727064,-73.996621,2012.0,E 27 St & 1 Ave,40.739445,-73.976806,25938,Subscriber,1969,1
2,1319,2018-08-01 00:00:21.1750,2018-08-01 00:22:20.6370,403.0,E 2 St & 2 Ave,40.725029,-73.990697,285.0,Broadway & E 14 St,40.734546,-73.990741,28679,Subscriber,1970,1
3,220,2018-08-01 00:00:26.4700,2018-08-01 00:04:06.8190,3637.0,Fulton St & Waverly Ave,40.683239,-73.965996,399.0,Lafayette Ave & St James Pl,40.688515,-73.964763,28075,Subscriber,1982,1
4,398,2018-08-01 00:00:30.2910,2018-08-01 00:07:09.2810,3662.0,31 Ave & Steinway St,40.761294,-73.916917,3517.0,31 St & Hoyt Ave N,40.771153,-73.917007,25002,Subscriber,1987,1

In [3]:
citi_total_station=citi_total[['start station id','start station latitude','start station longitude']]

In [4]:
tripCountPerStation=citi_total.groupby('start station id').count()
tripCountPerStation=tripCountPerStation.apply(lambda x: x) 
tripCountPerStation.describe()

,tripduration,starttime,stoptime,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
count,783.000000,783.000000,783.000000,783.000000,783.000000,783.000000,783.000000,783.000000,783.000000,783.000000,783.000000,783.000000,783.000000,783.000000
mean,8929.329502,8929.329502,8929.329502,8929.329502,8929.329502,8929.329502,8929.329502,8929.329502,8929.329502,8929.329502,8929.329502,8929.329502,8929.329502,8929.329502
std,8152.348578,8152.348578,8152.348578,8152.348578,8152.348578,8152.348578,8152.348578,8152.348578,8152.348578,8152.348578,8152.348578,8152.348578,8152.348578,8152.348578
min,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
25%,2879.500000,2879.500000,2879.500000,2879.500000,2879.500000,2879.500000,2879.500000,2879.500000,2879.500000,2879.500000,2879.500000,2879.500000,2879.500000,2879.500000
50%,5956.000000,5956.000000,5956.000000,5956.000000,5956.000000,5956.000000,5956.000000,5956.000000,5956.000000,5956.000000,5956.000000,5956.000000,5956.000000,5956.000000
75%,12931.500000,12931.500000,12931.500000,12931.500000,12931.500000,12931.500000,12931.500000,12931.500000,12931.500000,12931.500000,12931.500000,12931.500000,12931.500000,12931.500000
max,57114.000000,57114.000000,57114.000000,57114.000000,57114.000000,57114.000000,57114.000000,57114.000000,57114.000000,57114.000000,57114.000000,57114.000000,57114.000000,57114.000000

In [15]:
result = tripCountPerStation.merge(citi_total_station, left_on='start station id', right_on='start station id')
result.head()

,start station id,tripduration,starttime,stoptime,start station name,start station latitude_x,start station longitude_x,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start station latitude_y,start station longitude_y
0,72.0,15057,15057,15057,15057,15057,15057,15057,15057,15057,15057,15057,15057,15057,15057,40.767272,-73.993929
1,72.0,15057,15057,15057,15057,15057,15057,15057,15057,15057,15057,15057,15057,15057,15057,40.767272,-73.993929
2,72.0,15057,15057,15057,15057,15057,15057,15057,15057,15057,15057,15057,15057,15057,15057,40.767272,-73.993929
3,72.0,15057,15057,15057,15057,15057,15057,15057,15057,15057,15057,15057,15057,15057,15057,40.767272,-73.993929
4,72.0,15057,15057,15057,15057,15057,15057,15057,15057,15057,15057,15057,15057,15057,15057,40.767272,-73.993929

In [16]:
result=result[['start station id','start station latitude_y','start station longitude_y','starttime']]
result.columns=['s_id','s_lat','s_long','numOfTrip']
result.head()

   s_id      s_lat     s_long  numOfTrip
0  72.0  40.767272 -73.993929      15057
1  72.0  40.767272 -73.993929      15057
2  72.0  40.767272 -73.993929      15057
3  72.0  40.767272 -73.993929      15057
4  72.0  40.767272 -73.993929      15057

In [17]:
result2 =result.drop_duplicates(subset='s_id', keep='first')
result2

           s_id      s_lat     s_long  numOfTrip
0          72.0  40.767272 -73.993929      15057
15057      79.0  40.719116 -74.006667      10912
25969      82.0  40.711174 -74.000165       3637
29606      83.0  40.683826 -73.976323       4550
34156     119.0  40.696089 -73.978034       1229
35385     120.0  40.686768 -73.959282       4203
39588     127.0  40.731724 -74.006744      24821
64409     128.0  40.727103 -74.002971      24432
88841     143.0  40.692395 -73.993379       9141
97982     144.0  40.698399 -73.980689       3974
101956    146.0  40.716250 -74.009106      11966
113922    150.0  40.720874 -73.980858      10469
124391    151.0  40.722104 -73.997249      29725
154116    157.0  40.690893 -73.996123       8155
162271    161.0  40.729170 -73.998102       7053
169324    164.0  40.753231 -73.970325      12666
181990    167.0  40.748901 -73.976049      17190
199180    168.0  40.739713 -73.994564      28048
227228    173.0  40.760683 -73.984527      24286
251514    174.0  40.738177 -73.977387      14121
265635    195.0  40.709056 -74.010434      16238
281873    212.0  40.743349 -74.006818      16894
298767    216.0  40.700379 -73.995481       2964
301731    217.0  40.702772 -73.993836      12967
314698    223.0  40.737815 -73.999947      18265
332963    228.0  40.754601 -73.971879      10561
343524    229.0  40.727434 -73.993790      30788
374312    232.0  40.695977 -73.990149       5767
380079    236.0  40.728419 -73.987140      20617
400696    237.0  40.730473 -73.986724      21693
...         ...        ...        ...        ...
6792956  3668.0  40.723957 -73.949844       5828
6798784  3669.0  40.676304 -74.003140       1115
6799899  3671.0  40.774779 -73.954275       6028
6805927  3673.0  40.677592 -73.955637       3571
6809498  3674.0  40.701403 -73.986727      12480
6821978  3675.0  40.784597 -73.949685       3465
6825443  3676.0  40.675833 -74.014726       3613
6829056  3680.0  40.754121 -73.980252      13314
6842370  3684.0  40.737561 -74.003983      14593
6856963  3686.0  40.739448 -74.005070      23586
6880549  3687.0  40.743227 -73.974498      20363
6900912  3688.0  40.757920 -73.966382       9684
6910596  3689.0  40.799041 -73.966495       3916
6914512  3690.0  40.713342 -74.009355       7079
6921591  3691.0  40.764089 -73.910651       1750
6923341  3692.0  40.699997 -73.974401       1328
6924669  3693.0  40.722482 -73.959219       4164
6928833  3695.0  40.726870 -73.989190       8409
6937242  3697.0  40.775160 -73.989187      11876
6949118  3699.0  40.763605 -73.989180       7050
6956168  3700.0  40.779406 -73.953336       1520
6957688  3701.0  40.708318 -74.005041      10179
6967867  3704.0  40.743752 -73.941765        172
6968039  3705.0  40.728401 -73.999688       7572
6975611  3709.0  40.738046 -73.996430       4607
6980218  3711.0  40.729667 -73.980680       8222
6988440  3712.0  40.754692 -73.997402       1892
6990332  3714.0  40.706842 -73.954435        311
6990643  3715.0  40.718170 -73.955201        986
6991629  3716.0  40.753599 -73.937956         36

[783 rows x 4 columns]

In [19]:
result2.describe()

              s_id       s_lat      s_long     numOfTrip
count   783.000000  783.000000  783.000000    783.000000
mean   2309.222222   40.733436  -73.971578   8929.329502
std    1440.877728    0.040144    0.024297   8152.348578
min      72.000000   40.646538  -74.025353      2.000000
25%     451.500000   40.698175  -73.990719   2879.500000
50%    3160.000000   40.732916  -73.974023   5956.000000
75%    3460.000000   40.764399  -73.952955  12931.500000
max    3716.000000   40.814394  -73.907744  57114.000000

In [21]:
result2.to_csv("citibike_manipulation.csv",sep=",",index=False)

FileNotFoundError: [Errno 2] File b'/Users\xe2\x81\xa9/mina/Dropbox\xe2\x81\xa9/\xe2\x81\xa82019Spring/\xe2\x81\xa8Transportation_Behavioral_Informatics/TBI_project\xe2\x81\xa9/Data/citibike/201808-citibike-tripdata.csv' does not exist: b'/Users\xe2\x81\xa9/mina/Dropbox\xe2\x81\xa9/\xe2\x81\xa82019Spring/\xe2\x81\xa8Transportation_Behavioral_Informatics/TBI_project\xe2\x81\xa9/Data/citibike/201808-citibike-tripdata.csv'