In [1]:
import pandas as pd

citi8 = pd.read_csv('201808-citibike-tripdata.csv')
citi9 = pd.read_csv('201809-citibike-tripdata.csv')
citi10 = pd.read_csv('201810-citibike-tripdata.csv')
citi11 = pd.read_csv('201811-citibike-tripdata.csv')
#citi8.head()

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
citi_total=pd.concat([ citi8,citi9, citi10, citi11])
citi_total.head()

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,bikeid,birth year,end station id,end station latitude,end station longitude,end station name,gender,mile_citi,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,usertype
0,27770,1986,3383.0,40.804213,-73.966991,Cathedral Pkwy & Broadway,1,1.7025,3162.0,40.783400,-73.980931,W 78 St & Broadway,00:07.3,11:29.0,681,Subscriber
1,25938,1969,2012.0,40.739445,-73.976806,E 27 St & 1 Ave,1,1.5625,3260.0,40.727064,-73.996621,Mercer St & Bleecker St,00:19.7,10:45.0,625,Subscriber
2,28679,1970,285.0,40.734546,-73.990741,Broadway & E 14 St,1,3.2975,403.0,40.725029,-73.990697,E 2 St & 2 Ave,00:21.2,22:20.6,1319,Subscriber
3,28075,1982,399.0,40.688515,-73.964763,Lafayette Ave & St James Pl,1,0.5500,3637.0,40.683239,-73.965996,Fulton St & Waverly Ave,00:26.5,04:06.8,220,Subscriber
4,25002,1987,3517.0,40.771153,-73.917007,31 St & Hoyt Ave N,1,0.9950,3662.0,40.761294,-73.916917,31 Ave & Steinway St,00:30.3,07:09.3,398,Subscriber

In [3]:
citi_total_station=citi_total[['start station id','end station id','bikeid']]
tripCountPerStation=citi_total_station.groupby(['start station id','end station id']).count()
tripCountPerStation.head()

                                 bikeid
start station id end station id
72.0             72.0               285
                 79.0                15
                 82.0                 1
                 127.0               89
                 128.0               23

In [5]:
tripCountPerStation.to_excel("citibike_start_end_station_zipcode.xlsx")

In [ ]:
#tripCountPerStation.get_group('0')

   s_id      s_lat     s_long  numOfTrip
0  72.0  40.767272 -73.993929      15057
1  72.0  40.767272 -73.993929      15057
2  72.0  40.767272 -73.993929      15057
3  72.0  40.767272 -73.993929      15057
4  72.0  40.767272 -73.993929      15057

           s_id      s_lat     s_long  numOfTrip
0          72.0  40.767272 -73.993929      15057
15057      79.0  40.719116 -74.006667      10912
25969      82.0  40.711174 -74.000165       3637
29606      83.0  40.683826 -73.976323       4550
34156     119.0  40.696089 -73.978034       1229
35385     120.0  40.686768 -73.959282       4203
39588     127.0  40.731724 -74.006744      24821
64409     128.0  40.727103 -74.002971      24432
88841     143.0  40.692395 -73.993379       9141
97982     144.0  40.698399 -73.980689       3974
101956    146.0  40.716250 -74.009106      11966
113922    150.0  40.720874 -73.980858      10469
124391    151.0  40.722104 -73.997249      29725
154116    157.0  40.690893 -73.996123       8155
162271    161.0  40.729170 -73.998102       7053
169324    164.0  40.753231 -73.970325      12666
181990    167.0  40.748901 -73.976049      17190
199180    168.0  40.739713 -73.994564      28048
227228    173.0  40.760683 -73.984527      24286
251514    174.0  40.738177 -73.977387      14121
265635    195.0  40.709056 -74.010434      16238
281873    212.0  40.743349 -74.006818      16894
298767    216.0  40.700379 -73.995481       2964
301731    217.0  40.702772 -73.993836      12967
314698    223.0  40.737815 -73.999947      18265
332963    228.0  40.754601 -73.971879      10561
343524    229.0  40.727434 -73.993790      30788
374312    232.0  40.695977 -73.990149       5767
380079    236.0  40.728419 -73.987140      20617
400696    237.0  40.730473 -73.986724      21693
...         ...        ...        ...        ...
6792956  3668.0  40.723957 -73.949844       5828
6798784  3669.0  40.676304 -74.003140       1115
6799899  3671.0  40.774779 -73.954275       6028
6805927  3673.0  40.677592 -73.955637       3571
6809498  3674.0  40.701403 -73.986727      12480
6821978  3675.0  40.784597 -73.949685       3465
6825443  3676.0  40.675833 -74.014726       3613
6829056  3680.0  40.754121 -73.980252      13314
6842370  3684.0  40.737561 -74.003983      14593
6856963  3686.0  40.739448 -74.005070      23586
6880549  3687.0  40.743227 -73.974498      20363
6900912  3688.0  40.757920 -73.966382       9684
6910596  3689.0  40.799041 -73.966495       3916
6914512  3690.0  40.713342 -74.009355       7079
6921591  3691.0  40.764089 -73.910651       1750
6923341  3692.0  40.699997 -73.974401       1328
6924669  3693.0  40.722482 -73.959219       4164
6928833  3695.0  40.726870 -73.989190       8409
6937242  3697.0  40.775160 -73.989187      11876
6949118  3699.0  40.763605 -73.989180       7050
6956168  3700.0  40.779406 -73.953336       1520
6957688  3701.0  40.708318 -74.005041      10179
6967867  3704.0  40.743752 -73.941765        172
6968039  3705.0  40.728401 -73.999688       7572
6975611  3709.0  40.738046 -73.996430       4607
6980218  3711.0  40.729667 -73.980680       8222
6988440  3712.0  40.754692 -73.997402       1892
6990332  3714.0  40.706842 -73.954435        311
6990643  3715.0  40.718170 -73.955201        986
6991629  3716.0  40.753599 -73.937956         36

[783 rows x 4 columns]

              s_id       s_lat      s_long     numOfTrip
count   783.000000  783.000000  783.000000    783.000000
mean   2309.222222   40.733436  -73.971578   8929.329502
std    1440.877728    0.040144    0.024297   8152.348578
min      72.000000   40.646538  -74.025353      2.000000
25%     451.500000   40.698175  -73.990719   2879.500000
50%    3160.000000   40.732916  -73.974023   5956.000000
75%    3460.000000   40.764399  -73.952955  12931.500000
max    3716.000000   40.814394  -73.907744  57114.000000